.container
  .row
    .span4
      %h4{:style=>'text-align: center'} Merkur
      %p
        = partial :menu_merkur 
    .span4
      %h4{:style=>'text-align: center'} Mill 
      %p
        = partial :menu_mill
    .span4
      %h4{:style=>'text-align: center'} Steindl 
      %p
        = partial :menu_steindl
