%nav
  - if logged_in?
    %a{:href => '/result'} Result
    &#124;
    %a{:href => '/result/%s/' % @startprevdate} Last Result
    %br
  - else
    %a{:href => '/result/%s/' % @startprevdate} Last Result
    %br
  %a{:href => '/new'} Add
  &#124;
  %a{:href => '/locations'} Locations
  &#124;
  %a{:href => '/stats'} Stats
  &#124;
  %a{:href => '/menu'} Menu
  %br
  %a{:href => '/about'} About/Contact
