#content

  .box
    .votebox
      %h2 What is this?
      %p
        Its a meal voting written in Ruby and the awesome Sinatra(&#9829;)
        <br> With lovely support from woot chan
      %p
        Is non-profit and licensed
        GPLv2
        and uses the excellent lightbox script
        %a{:href => 'http://fancyapps.com/fancybox/'} fancyBox
        licensed
        %a{:href => 'http://creativecommons.org/licenses/by-nc/3.0/'} Creative Commons Attribution-NonCommercial 3.0 
      %p
        We try our best to keep this site clean. Have questions contact us at
        %a{ :href => 'mailto:naikon@geekosphere.org' } contact us.
